{% extends '::base.html.twig' %}

{% block body -%}
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" type="text/css" rel="stylesheet" />
    <link href="{{ asset('bundles/a2lixtranslationform/css/a2lix_translation_default.css') }}" type="text/css" rel="stylesheet" />
    <h1>BlogPost creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('blogpost') }}">
            Back to the list
        </a>
    </li>
</ul>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="{{ asset('bundles/a2lixtranslationform/js/a2lix_translation_bootstrap.js') }}"></script>
    <script src="{{ asset('bundles/a2lixtranslationform/js/a2lix_translation_default.js') }}"></script>
{% endblock %}
